.index {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    149deg,
    rgba(24, 187, 156, 1) 0%,
    rgba(106, 57, 175, 1) 42%,
    rgba(187, 24, 148, 1) 72%,
    rgba(115, 53, 134, 1) 100%
  );
  background: linear-gradient(45deg, rgb(90, 186, 34), rgb(34, 77, 208), rgb(114, 69, 131));
  animation: gradient 10s infinite linear;
  background-size: 500%;
}
@keyframes gradient {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}
.start-page {
  //background-color: #b6cbd1;
  height: 100vh;
  &__wrapper {
    display: flex;
    flex-direction: column;
    //background-color: #43bf57;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  &__link + .start-page__link {
    margin-top: 20px;
  }
  &__link {
    //@extend %CeraPro-Medium-500;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    text-align: center;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}

.container {
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #292929;
}
